@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0%;
  height: 100%;
  width: 78px;
  background: #14213d;
  padding: 6px 14px;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 240px;
}

.sidebar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  pointer-events: none;
}

.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
  color: #fca31f;
}

.logo_content .logo i {
  font-size: 28px;
  margin-left: 20px;
  margin-right: 10px;
}

.logo_content .logo .logo_name {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.sidebar #btn {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  list-style: none;
  line-height: 50px;
}
.sidebar.active ul li {
  margin: 0 5px;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 122px;
  top: 0%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fca31f;
  color: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px #9c9c9c;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar.active ul li .tooltip {
  display: none;
  z-index: 99;
}

.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  top: 50%;
  opacity: 1;
  z-index: 99;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar ul li a:hover {
  color: #14213d;
  background: #fff;
}

.sidebar ul li a i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .profile_content {
  position: absolute;
  width: 100%;
  background-color: #fca31f;
  color: #fff;
  bottom: 0%;
  left: 0%;
  transition: all 0.5s ease;
  border: solid 3px #fca31f;
}
.sidebar .profile_content:hover {
  background-color: #fff;
  color: #fca31f;
}
.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
}

.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
}

.profile .profile_details i {
  position: absolute;
  font-size: 1.5em;
  margin-left: 18px;
  margin-top: 10px;
}
.sidebar.active.profile_details i {
  margin-left: 24px;
}

.sidebar.active .profile .profile_details .text_1 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin-left: 70px;
  margin-top: 2px;
  opacity: 1;
}

.sidebar.active .profile .profile_details .text_2 {
  font-size: 12px;
  font-weight: 400;
  margin-left: 70px;
  opacity: 1;
}

.sidebar .text_1,
.text_2 {
  opacity: 0;
  pointer-events: none;
}
.tooltipPgEdit {
  position: relative;
  display: inline-block;
}

.tooltipPgEdit .tooltiptext {
  position: absolute;
  top: -15px;
  left: 73px;
  opacity: 0;
  height: 35px;
  width: 122px;
  background: #fca31f;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 99;
  box-shadow: 0 5px 10px #9c9c9c;
  transition: all 0.5s ease;
}

.tooltipPgEdit:hover .tooltiptext {
  top: 10px;
  opacity: 1;
}
.sidebar.active .tooltiptext {
  opacity: 0;
}

.home_content {
  position: absolute;
  min-height: 100%;
  width: calc(100% - 240px);
  left: 78px;
  transition: all 0.5s ease;
}

.home_content .text {
  position: relative;
  font-size: 25px;
  font-weight: bold;
  color: rgba(20, 33, 61, 1);
  margin: 12px;
  left: 10px;
}
.home_content .text i {
  color: rgba(252, 163, 17, 1);
}

.sidebar.active ~ .home_content {
  width: calc(100% - 240px);
  left: 240px;
}

/* Store */

/* Main Div */
.slider-box {
  position: absolute;
  display: flex;
  margin: 10px;
  height: 320px;
}
#slider-box1 {
  left: 0.5%;
  top: 8%;
}
#slider-box2 {
  top: 52%;
  left: 0.5%;
}
/* 6 items divs */
.items {
  position: relative;
  border: 1px solid rgba(20, 33, 61, 1);
  margin: 10px;
  width: 250px;
  height: 96%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(20, 33, 61, 0.2);
  font-weight: bold;
}
/* img div */
.img-box {
  position: absolute;

  height: 100%;
  width: 100%;
  z-index: -1;
}
/* images */
.img-box img {
  height: auto;
  width: 100%;
  height: 100%;
}
/* new */
.time {
  position: absolute;
  top: 0px;
  right: 10px;
  color: #f5f5f5;
}
/* code */
.code {
  position: absolute;
  top: 0px;
  left: 10px;
  color: #f5f5f5;
}
/* name & price P tag */
.detail {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 35px;
  font-family: cursive;
  font-size: 20px;
  bottom: 0px;
  opacity: 0;
}
.price {
  position: relative;
  color: black;
  text-decoration: none;
  line-height: 20px;
  bottom: 5px;
}
/* cart btn div */
.cart {
  position: absolute;
  bottom: -20px;
  height: 40px;
  background-color: rgba(252, 163, 17, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  opacity: 0;
}
.cart button {
  background: rgba(20, 33, 61, 1);
  border-color: rgba(252, 163, 31, 1);
  width: 100px;
  height: 25px;
  color: #f5f5f5;
}
/* Background image on hover*/
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: -99;
  opacity: 0;
}

/* Adding Hover Effects */
.cart:hover {
  transform: scale(1.1);
  background-color: rgba(252, 163, 17, 1);
  box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.4);
  transition: all ease 0.1s;
}
.cart:hover button {
  width: 80%;
  height: 80%;
  border-radius: 5px;
  font-weight: bold;
  border-color: rgba(252, 163, 31, 1);
  font-size: 15px;
  transition: ease 0.1s;
}
#item1:hover {
  box-shadow: 2px 2px 12px rgba(20, 33, 61, 1);
}
#item1:hover #img1 img {
  transform: scale(0.7);
  opacity: 0;
  transition: all ease 0.3s;
}
#item1:hover .detail {
  opacity: 1;
  bottom: 100px;
  color: #f5f5f5;
  transition: 1s ease;
}
#item1:hover .price {
  color: #f5f5f5;
}
#item1:hover .cart {
  bottom: 0px;
  opacity: 1;
  transition: 0.3s ease;
}
#item1:hover #back1 {
  background-image: url(./images/irishman.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: 0.5s ease;
}

#item2:hover {
  box-shadow: 2px 2px 12px rgba(20, 33, 61, 1);
}
#item2:hover #img2 img {
  transform: scale(0.7);
  opacity: 0;
  transition: all ease 0.3s;
}
#item2:hover .detail {
  opacity: 1;
  bottom: 100px;
  color: #f5f5f5;
  transition: 1s ease;
}
#item2:hover .price {
  color: #f5f5f5;
}
#item2:hover .cart {
  bottom: 0px;
  opacity: 1;
  transition: 0.3s ease;
}
#item2:hover #back2 {
  background-image: url(./images/avengerlogo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: 0.5s ease;
}
#item3:hover {
  box-shadow: 2px 2px 12px rgba(20, 33, 61, 1);
}
#item3:hover #img3 img {
  transform: scale(0.7);
  opacity: 0;
  transition: all ease 0.3s;
}
#item3:hover .detail {
  opacity: 1;
  bottom: 100px;
  color: #f5f5f5;
  transition: 1s ease;
}
#item3:hover .price {
  color: #f5f5f5;
}
#item3:hover .cart {
  bottom: 0px;
  opacity: 1;
  transition: 0.3s ease;
}
#item3:hover #back3 {
  background-image: url(./images/martianb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: 0.5s ease;
}
#item4:hover {
  box-shadow: 2px 2px 12px rgba(20, 33, 61, 1);
}
#item4:hover #img4 img {
  transform: scale(0.7);
  opacity: 0;
  transition: all ease 0.3s;
}
#item4:hover .detail {
  opacity: 1;
  bottom: 100px;
  color: #f5f5f5;
  transition: 1s ease;
}
#item4:hover .price {
  color: #f5f5f5;
}
#item4:hover .cart {
  bottom: 0px;
  opacity: 1;
  transition: 0.3s ease;
}
#item4:hover #back4 {
  background-image: url(./images/quietp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: 0.5s ease;
}
#item5:hover {
  box-shadow: 2px 2px 12px rgba(20, 33, 61, 1);
}
#item5:hover #img5 img {
  transform: scale(0.7);
  opacity: 0;
  transition: all ease 0.3s;
}
#item5:hover .detail {
  opacity: 1;
  bottom: 100px;
  color: #f5f5f5;
  transition: 1s ease;
}
#item5:hover .price {
  color: #f5f5f5;
}
#item5:hover .cart {
  bottom: 0px;
  opacity: 1;
  transition: 0.3s ease;
}
#item5:hover #back5 {
  background-image: url(./images/12years);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: 0.5s ease;
}
#item6:hover {
  box-shadow: 2px 2px 12px rgba(20, 33, 61, 1);
}
#item6:hover #img6 img {
  transform: scale(0.7);
  opacity: 0;
  transition: all ease 0.3s;
}
#item6:hover .detail {
  opacity: 1;
  bottom: 100px;
  color: #f5f5f5;
  transition: 1s ease;
}
#item6:hover .price {
  color: #f5f5f5;
}
#item6:hover .cart {
  bottom: 0px;
  opacity: 1;
  transition: 0.3s ease;
}
#item6:hover #back6 {
  background-image: url(./images/johnny.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: 0.5s ease;
}
#reset:hover {
  transform: scale(1.1);
  background-color: #dc143c;
  color: white;
  box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.4);
  transition: all ease 0.1s;
}
#place-order:hover {
  transform: scale(1.07);
  background-color: rgba(20, 33, 61, 1);
  font-weight: bold;
  border-color: rgba(252, 163, 31, 1);
  color: rgba(252, 163, 31, 1);
  transition: all ease 0.1s;
}
.remove:hover {
  background-color: #dc143c;
  color: white;
  transition: all ease 0.1s;
}
#done:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px rgba(252, 163, 31, 1);
  color: rgba(252, 163, 31, 1);
  transition: all ease 0.5s;
}

/* Form */
.form {
  position: fixed;
  width: 475px;
  height: 640px;
  left: 69%;
  top: 10%;
  border-radius: 5px;
  z-index: 1;
  background-image: url();
}
.form .fieldset {
  height: 640px;
  border-radius: 5px;
  background: rgba(20, 33, 61, 0.2);
  color: rgba(20, 33, 61, 1);
  font-weight: bold;
  border-color: rgba(20, 33, 61, 1);
}
.form .fieldset:hover {
  box-shadow: 5px 5px 18px rgba(20, 33, 61, 1);
}
legend {
  position: relative;
  font-size: 20px;
  bottom: 5px;
}
legend sup input {
  border-radius: 50%;
  text-align: center;
  height: 40px;
  width: 40px;
  font-size: 20px;
  font-weight: bold;
  background: rgba(252, 163, 31, 1);
  border-color: rgba(20, 33, 61, 1);
  color: rgba(20, 33, 61, 1);
}
.cart-form {
  position: relative;
  width: 450px;
  margin: 5px;
  left: 5px;
  border: 1px solid #f5f5f5;
  background: rgba(20, 33, 61, 1);
  border-radius: 5px;
  display: none;
}

.cart-form ul li {
  list-style-type: none;
  display: inline;
  margin: 18px;
}
.cart-form ul {
  text-align: center;
}
.div-code {
  color: rgba(252, 163, 17, 1);
}
.cart-form ul li .plus {
  position: relative;
  width: 20px;
  left: 40px;
  font-weight: bold;
  background: rgba(252, 163, 17, 1);
  color: rgba(20, 33, 61, 1);
}
.cart-form ul li .minus {
  position: relative;
  width: 20px;
  right: 40px;
  font-weight: bold;
  background: rgba(252, 163, 17, 1);
  color: rgba(20, 33, 61, 1);
}
.remove {
  position: relative;
  width: 60px;
  /*right: 40px;*/
  font-weight: bold;
  background: #f5f5f5;
  color: rgba(20, 33, 61, 1);
}

.form-details {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 3px;
  left: 5px;
}
.personal-details {
  position: relative;
  margin: 5px;
  text-align: center;
  top: 5px;
  font-weight: bold;
}
.qty {
  text-align: center;
  font-weight: bold;
}
#qtytotal {
  text-align: center;
  font-weight: bold;
}
.total {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 3px;
  left: 8px;
  display: none;
  font-size: 20px;
}

.indicator-mail {
  position: absolute;
  text-align: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 115px;
  left: 260px;
  /* background: #0f0;
  box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0; */
  background: gray;
}

.indicator-card {
  position: absolute;
  text-align: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 202px;
  left: 260px;
  /* background: #0f0;
  box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0; */
  background: gray;
}
/* form logo rotation*/
#form-logo {
  position: fixed;
  font-size: 300px;
  right: 5%;
  bottom: 0%;
  opacity: 0.8;
  z-index: -1;
  animation: formLogo 5s linear infinite;
}
@keyframes formLogo {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

#reset {
  position: relative;
  width: 50px;
  top: 5px;
  margin: 3px;
  background-color: rgba(252, 163, 17, 1);
  font-weight: bold;
}
#place-order {
  position: relative;
  width: 250px;
  height: 40px;
  top: 30px;
  margin: 3px;
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(252, 163, 17, 1);
}

/* iNVOICE */

#invoice {
  position: relative;
  left: 300px;
  display: none;
  flex-direction: column;
}
textarea {
  position: relative;
  width: 400px;
  height: 610px;
  font-size: 13px;
  background-color: #f5f5f5;
  border: 2px solid rgba(20, 33, 61, 1);
  color: rgba(20, 33, 61, 1);
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
}
#bill-label {
  font-weight: bold;
  color: rgba(20, 33, 61, 1);
}

/* done button */
#done {
  position: absolute;
  top: 18px;
  left: 450px;
  font-size: 20px;
  width: 100px;
  border-radius: 5px;
  background-color: rgba(20, 33, 61, 1);
  color: #f5f5f5;
  font-weight: bold;
  display: none;
}

#back-img {
  position: fixed;
  z-index: -5;
  width: 100%;
  min-height: 100vh;
  opacity: 0.2;
  transition: 0.5s linear;
}
